/build/

# clang
/.cache/clangd
/compile_commands.json

# tests
/tests/**/output

# lex and yacc
lexer.i
parser.i
lexer.c
parser.c
parser.h

# c
*.o
*.out

# cores
core.*
vgcore.*

# graphviz
*.dot
*.png
